/* General Styles */
body {
    font-family: 'Play', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B8D4D9;
}

header {
    background-color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.navbar img {
    height: 140px;
}


.navbar section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar li {
    position: relative;
    margin: 0;
    min-width: 120px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
}

.navbar a:hover {
    color: #4C8999;
    font-weight: bold;
}

/* Highlight the active page link */
.active-page {
    color: #FFFFFF !important; /* Ensures the text is white */
    background-color: #4C8999; /* Background highlight */
    font-weight: bold;
    padding: 10px;
    border-radius: 5px; /* Optional: Rounded edges */
}


/* Dropdown */

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 10px;
    min-width: 237px;
    top: 110%;
    left: -50%;
    z-index: 100;
    border-bottom: #4C8999 solid;
    border-right: #4C8999 solid;
    border-left: #4C8999 solid;

}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin: 0;
    padding: 5px 10px;
}

.dropdown-menu li a {
    display: block;
    color: black;
    padding: 5px;
    font-size: 18px;
}

.dropdown-menu li a:hover {
    color: #4C8999;
}






/* Mobile Header */
.mobile-header {
    display: none; /* Hidden on desktop */
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.mobile-header img {
    height: 125px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #B8D4D9 solid;
    border-radius: 5px;
    padding: 4px;
}

.hamburger-menu div {
    width: 50px;
    height: 10px;
    background-color: #4C8999;
    margin: 4px 0;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: #FFFFFF;
}

.mobile-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}


/* Close Button */
.close-menu {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #4C8999;
    background: none;
    border: #B8D4D9 solid;
    border-radius: 5px;
    padding: 4px;
}


.mobile-menu a {
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 28px;
    width: 50%;
}


.mobile-menu section {
    align-items: center;
    width: 85%;
    max-width: 750px;
    position: absolute;
    bottom: 5%;
}

.mobile-menu img {
    width: 100%;
    align-items: center;
    justify-content: center;
} 



.dropdown-mobile {
    display: none;
    list-style: none;
    width: 90%;
    text-align: center;
    align-items: center;

}

.dropdown-mobile li {
    background-color: #B8D4D9;
    margin-bottom: 3px;
    padding: 24px;
}
.dropdown-mobile a {
    color: black;
    font-size: 24px;
}



/* Responsive Styles */
@media (max-width: 768px) {
    /* Show Mobile Header */
    .mobile-header {
        display: flex;
    }

    /* Hide Desktop Navbar */
    .navbar {
        display: none;
    }

    /* Hamburger Menu Styling */
    .hamburger-menu {
        display: flex;
    }

    /* Align Book Lesson Button */
    .book-lesson {
        margin-left: auto;
    }

}


















